.clientes-detalhes-cabecalho-interno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 85%;

    padding: 2rem 0;
}

.clientes-detalhes-cabecalho-interno div {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;

}

.clientes-detalhes-cabecalho-interno div span{

    font-family: Montserrat;
    font-size: 2.6rem;    
    font-weight: 600;
    line-height: 3.4rem;
    letter-spacing: 0rem;

    color: #3F3F55

    
}
