header .titulo-cobrancas {
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0rem;

    padding-top: 4rem;
        
    color: #0E8750;
}